p {
    font-weight: bold;
    font-size: 1.2em;
    color: darkgoldenrod;
    background-color: lightyellow;
    border-style: solid;
    border-width: 1px;
    border-color: darkgoldenrod;
    padding: 10px;
}